<% if obj.errors.any? %>

  <div class="row">
    <div class="class">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="panel panel-danger">
          <h2 class="panel-heading">
            <%= pluralize(obj.errors.count, "error") %> <!-- # nombre d'erreurs -->
            prohibited this article from being saved:
          </h2>
          <div class="panel-body">
            <% obj.errors.full_messages.each do |msg| %>
          <ul>
              <li><%= msg %></li>
          </ul>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>