<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; by Charles Marceau <a href="http://www.charlesmarceau.com" target="_blank">www.charlesmarceau.com</a>
            
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>